body,
html {
  width: 100%;
  height:100%;
  margin: 0;
  font-family: 'Avenir';
}


#vidcenter {
    margin: auto;
    width: 100%;
    text-align: center;
    width: 80%;
    max-width:853px;
}

.pad {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: ;
    margin-top: 15%;
    margin-bottom: 5%;
    height: 0;
        }

.pad iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p {
  padding-bottom:30px;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6{
  text-align: left;
}

.oneandhalf{
line-height: 1.5em;
}

body.utopian, body.serenata, body.smiley, body.home, body.about {
 background-image: linear-gradient(to right, #dfb99d, #FFEFD5);
}


body.tempo {
 background-image: url("../img/tempo_tile_03.png");
 background-color: #1d809f;
}

body.time-travelling {
 background-image: url("../img/820_tile.png");
 background-color: #1d809f;
 background-size: 100%;
 color: #ffffff;
}

body.paradises {
 background-image:url("../img/madeira_01.png");
 background-color: #1d809f;
}

body.chiacchierata {
 background-image: url("../img/chiacchierata_tile.png");
 background-color: #1d809f;
 background-size: 100%;
 color: #ffffff;
}

body.strolling{
 background-color: #dfb99d;
}

body.reliquia {
 background-image: url("../img/reliquia_tile.png");
 background-color: #dfb99d;
 color: #ffffff;
 background-size: 200%;
}

body.fuga{
 background-image: url("../img/fuga_tile.png");
 background-color: #dfb99d;
 color: #ffffff;
 background-size: 140%;
}

body.ricordi {
 background-color: #dfb99d;
 background-size:cover;
 color: #ffffff;
}

body.nem {
 background-color: #dfb99d;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.imgcenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding:30px 0px 30px 0px;
}

figcaption {
  display: block;
  text-align: left;
}
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 5%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* Bottoni navigazione */
a.buttonNav {
  text-align: left;
  padding-bottom: 30px;
}

/* Home page */

img.coverHome{
  padding-bottom: 10px;
}

figure {
  margin: auto;
  color: #0e404f;
}

.homePage {
  padding-top: 8rem;
  margin: auto;
  text-align: center;
  width: 80%;
  max-width:1070px;
}

a.workDetail{
  text-decoration: none;
  /* margin-bottom: 3rem !important; */
  color: #1d809f;
  font-weight: 450;
  line-height: 1.2;
  text-align: left;
  font-size: 1.75rem;
  margin-top: 0;
}

ul.nopallini {
  padding: 0;
  list-style: none;
  text-align:  left !important;
}
ul.nopallini>li{
  padding-bottom: 40px;
}

.scroll-to-top{
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(223,185,157,.8);
  line-height: 45px;
}

.footerHome{
  text-align: right;
}

.footerHome > p.copy{
  text-align: center;
  padding-top: 20px;
  font-size:0.7rem;
  color: #1d809f;
}

/* About */

/*
.about {
  padding-top:8rem;
  margin: auto;
  text-align: left;
  width:80%;
  max-width:1070  margin: auto;
  text-align: left;
  padding-top: 20px;
  font-size:5rem;
  color: #1d809f;px;
}*/

.about {
  color: #1d809f;
}

p.cv {
  margin: auto;
  text-align: left;
  padding-top: 20px;
  font-size:1rem;
  color: #1d809f;
}

/* unvisited link */
a.link {
  color: #1d809f;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #1d809f;
}

